html, body {
	margin: 0;
	padding: 0;
    font-family: arial, serif;
    background: #fff;
    color: #000;
    line-height: 1.3em;
    font-size: 0.9em;
    height: 100%;
}

.floater {
    width: 950px;
    margin: 0 auto;
}

header {
    background: #FFD204;
    border-bottom: 1px solid #ccc;
}

header .floater {
    display: flex;
    align-items: center;
}

#logo-name {
    margin-left: auto;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 1px 1px #da9407;
}

#logo-img {
    align-self: flex-start;
}

nav {
    margin: 10px 0 10px 0;
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
    z-index: 9;
}

nav > ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    z-index: 9;
}

nav > ul > li {
    flex-grow: 1;
    text-align: center;
    z-index: 9;
}

nav li {
    position: relative;
    list-style: none;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    white-space: nowrap;
    z-index: 9;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav li:hover {
    color: #000;
    background: #FFD204;
    cursor: default;
}

nav li:hover > ul {
    display: inline-block;
}

nav > ul ul {
    display: none;
    position: absolute;
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
    padding: 0;
    top: 100%;
    left: 0;
}

nav > ul ul:hover {
    display: inline-block;
}

nav > ul ul ul {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

main {
    min-height: 100%;
}

.box {

}

canvas {
    margin: 0 10px 10px 0;
}

form {
    margin: 10px 0 10px 0;
    width: 100%;
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
}

select, input[type=submit] {
    padding: 3px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 20px;
}

caption {
    font-weight: bold;
}

thead th {
    background: #FFD204;
}

th, td {
    padding: 10px;
    text-align: left;
    white-space: nowrap;
}

tr {
    border-bottom: 1px solid #ffeb75;
}

tr.bold {
    font-weight: bold;
}

tbody tr:nth-child(2n) {
    background: #fff9c0;
}

tbody tr:nth-child(2n+1) {
    background: #fff;
}

form table, form tr, form td, form tbody tr:nth-child(2n), form tbody tr:nth-child(2n+1) {
    background: none;
    border: none;
}

blockquote {
    background: #f5f5f5;
    border: 1px solid #d5d5d5;
    padding: 10px;
}

blockquote i {
    color: #d5d5d5;
    margin-right: 5px;
}

.box {
	
}

a {
	color: #FFD204;
	text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

footer {
    margin-top: 20px;
	color: #fff;
	background: #353535;
    padding: 10px 0 10px 0;
    text-align: right;
}

.clear {
    clear: both;
}

select.plain {
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    box-shadow: none;
    background: none;
    font-size: 1.2em;
    font-weight: bold;
}

#error-img {
    margin: 0 auto;
    font-size: 40em;
    color: #fff9d4;
}

@media print {
    nav, footer {
        display: none;
    }

    header {
        background: none;
    }

    main {
        min-height: 1%;
    }

    @page {
        size:210mm 297mm;
    }
}